srcollable site
2 big button in the center of the screen
 1.learning from the old test.
    which will allow the user to access a new html file to select from the already created test.
    there will also be a search engine to search for the specific test.
2. creating a new test.
    which will scroll down to the part of the page where user can create a new test from already existed file.
    Select from the uploaded and refined file to 
    ask a bunch of questions to knowing the specification of the test.

{% extends 'layouts/base.html' %}

{# Import form macros if you have a generic one. #}
{% from "macros/_form.html" import render_form %} 

{% set page_title = 'Choosing_Page' %}

{# This block name must match the one in layouts/base.html. Changed from 'content' to 'body'. #}

{% block body %}

{% endblock %}